.l-header{
  border: 6px solid black;
  background-color:rgba(255,0,0,0.2);
  padding: 20px;
  margin: 20px;
  width: ６００px;
  height: １００px;
}

.l-main{
  display:flex;
  border: 6px solid black;
  padding: 20px;
  margin: 20px;
  width: 400px;
  background-color:rgba(0,255,0,0.2);
}
.l-side{
  border: 6px solid black;
  padding: 20px;
  margin: 20px;
  width: 400px;
  background-color:rgba(0,0,255,0.2);
}
